*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-10-02-_Notebook.md
.gitignore
_posts/2022-09-26-_Lists.md
_posts/2022-09-23-java.md
_posts/2022-09-28-_Notebook.md
_posts/2022-09-22-_08_22_bashie.md
_posts/2022-09-06-ScrumProcess.md
_posts/2022-09-22-Grimsley-PC1-Spring-2022-Calendar.md
_posts/2022-09-28-_questions.md
.gitignore
_posts/2022-10-03-_Notebook.md
_posts/2020-02-20-test.md
